/* CSS for body */
body {
  text-align: center;
  background-color: #676f67;
  color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* CSS for .App */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  font-size: calc(10px + 2vmin);
}

/* CSS for .App-logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

/* CSS keyframes for .App-logo-spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS for .App-header */
.App-header {
  background-color: #282c34;
  padding: 10px;
}

/* CSS for h1 */
h1 {
  margin-bottom: 10px;
}

/* CSS for .input-group */
.input-group {
  margin-bottom: 10px;
}

/* CSS for .result */
.result {
  margin-top: 20px;
}

/* CSS for table */
table {
  width: 20%; /* Set the table width to 100% */
  border-collapse: collapse;
  margin-left: auto; /* Center the table horizontally */
  margin-right: auto; /* Center the table horizontally */
}

/* CSS for th and td */
th,
td {
  border: 5px solid rgb(26, 189, 50);
  padding: 8px;
  text-align: center;
}

/* CSS for th */
th {
  background-color: #053a07;
  
}

/* CSS for tr */
tr {
  background-color: #093b05;
  width: 20%;
}

 
