/* CSS for body */
body {
  text-align: center;
  background-color: #275d27;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* CSS for .App */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px;
  font-size: calc(10px + 2vmin);
}

/* CSS for .App-logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

/* CSS keyframes for .App-logo-spin animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS for .App-header */
.App-header {
  background-color: #282c34;
  padding: 10px;
}

/* CSS for h1 */
h1 {
  margin-bottom: 10px;
}

/* CSS for .input-group */
.input-group {
  margin-bottom: 10px;
}

/* CSS for .result */
.result {
  margin-top: 20px;
}

/* CSS for table */
table {
  width: 100%; /* Set the table width to 100% */
  border-collapse: collapse;
  margin: 10 auto; /* Center the table horizontally */
}

/* CSS for th and td */
th,
td {
  border: 2px solid rgb(26, 189, 50);
  padding: 1px;
  text-align: center;
}

/* CSS for th */
th {
  background-color: #053a07;
  border: 2px solid rgb(26, 189, 50);
  padding: 1px;
  color: white;
}

/* CSS for tr */
tr {
  background-color: #093b05;
  color: white;
}

/* Mobile-friendly styles */
@media only screen and (max-width: 600px) {
  /* Adjust the styles for screens with a maximum width of 600px */
  body {
    font-size: 14px;
  }
  
  .App-logo {
    height: 10vmin;
  }
  
  table {
    font-size: 12px;
  }
  
  th,
  td {
    padding: 2px;
  }
}

/* spacing */

table {
  table-layout:  hidden;
  width: 100%;
  border-collapse: collapse;
  padding-left: 50;
  border: 3px solid rgb(6, 31, 0);
}
